html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 550px;
    height: 100%;
    font-family: "Inter", sans-serif;
    background: #121212;
}


/* *{
    border: .25px solid red;
} */

#header-container{
    display:flex;
    background: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    height: 300px;
}

#header{
    font-size: 2.625rem;
    font-weight: 800;
    line-height: 50%;
    margin-left: 1em;
}

#watchlist-btn{
    background: none;
    cursor:pointer;
    border:none;
    font-family:inherit;
    color: inherit;
    font-size: 1em;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
    margin-right: 3em;
}

#watchlist-btn:hover{
    font-size: .99em;
}

#search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1.25em auto;
    padding-bottom: 60px;
    font-size: 1rem;
    width: 400px;
}

#search-input{
    height: 40px;
    width: 75%;
    color: #A5A5A5;
    background-color: #2e2e2f;
    background-image: url("images/magnifying-glass.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    border-radius: 6px 0px 0px 6px;
    background-size: 20px;
    padding-left: 40px;
    border: none;
}

#search-input:focus{
    outline: none;
}

#search-btn{
    height: 40px;
    width: 25%;
    border: none;
    border-radius: 0px 6px 6px 0px;
    background: #4B4B4B;
    color: #FFF;
}

#search-btn:active{
    height: 39px;
    width: 24%;
}

#search-btn:hover{
    cursor:pointer;
}

/* Movie */

#result-container{
    background: #121212;
    display: flex;
    flex-direction: column;
    color: #FFF;
}

#movie-container{
    display: flex;
    margin: 0 2.75em;
    border-bottom: 1.5px solid #2C2C2C;
}

#movie-poster{
    margin: 1em 0;
    max-height: 150px;
}

#text-container{
    margin: 0 0 0 1.65em;
}

/* Title, Rating */

#movie-header-container{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 0 -.6875em 0;
}

#movie-title{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 110%;
}

#movie-rating{
    margin-left: 1em; 
}

#movie-rating, #movie-subheading-container{
    font-size: .75rem;
    line-height: 165%;
}

/* Year */

#movie-year, #movie-actors{
    font-size: .75rem;
    margin:0;
}

#movie-year{
    margin-top: .5em;
}

/* Runetime, Genre, Watchlist Button */

#movie-subheading-container{
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
    margin: 0 3.35em 0 0;
}

.movie-watchlist{
    display: flex;
    align-items: center;
    background: none;
    cursor:pointer;
    border:none;
    font-family:inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 160%;
    text-decoration: none;
}

#plus-icon{
    background:#FFF;
    color: #121212;
    font-weight: 700;
    height: 16px;     
    width: 16px;      
    flex-shrink: 0;
    border-radius: 50%; 
    display: flex;    
    align-items: center;
    justify-content: center;  
    margin-right: .25em;
}

.movie-watchlist:hover{
    font-size: .95em;
}

/*  */

#movie-description{
    color: #A5A5A5;
    font-size: .875rem;
    line-height: 140%;
    margin-bottom: 2.5em;
}

/*  */

#start-exploring-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

#film{
    width: 70px;
    height: 60px;
    fill: #2E2E2F;
    
}

#start-exploring, #unable-to-find{
    color: #2E2E2F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 110%;
}

#unable-to-find{
    display: block;
}

#popup-container {
    display: none; /* Initially hide the popup */
    position: fixed;
    font-size: .75rem;
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    text-align: center;
  }
  
  /* Animation to fade in and out */
  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    10%, 90% { opacity: 1; }
  }
  
  .popup-show {
    animation: fadeInOut 3s; /* Show the popup for 3 seconds */
  }